wsdls/financial.wsdl

<!-- SOAP's addStudentFinancialRequest WSDL file -->
<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://birzeit.edu/financial-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://birzeit.edu/financial-web-service" targetNamespace="http://birzeit.edu/financial-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://birzeit.edu/financial-web-service">


	<xs:element name="addStudentFinancialRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="xs:int"/>
				<xs:element name="amount" type="xs:float"/>
				<xs:element name="type" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="addStudentFinancialResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="financial" type="tns:financial"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getStudentFinancialRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getStudentFinancialResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="financial" type="tns:financial"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="financial">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="studentId" type="xs:int"/>
			<xs:element name="balance" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addStudentFinancialRequest">
    <wsdl:part element="tns:addStudentFinancialRequest" name="addStudentFinancialRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudentFinancialResponse">
    <wsdl:part element="tns:getStudentFinancialResponse" name="getStudentFinancialResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addStudentFinancialResponse">
    <wsdl:part element="tns:addStudentFinancialResponse" name="addStudentFinancialResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudentFinancialRequest">
    <wsdl:part element="tns:getStudentFinancialRequest" name="getStudentFinancialRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StudnetsPort">
    <wsdl:operation name="addStudentFinancial">
      <wsdl:input message="tns:addStudentFinancialRequest" name="addStudentFinancialRequest">
    </wsdl:input>
      <wsdl:output message="tns:addStudentFinancialResponse" name="addStudentFinancialResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentFinancial">
      <wsdl:input message="tns:getStudentFinancialRequest" name="getStudentFinancialRequest">
    </wsdl:input>
      <wsdl:output message="tns:getStudentFinancialResponse" name="getStudentFinancialResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudnetsPortSoap11" type="tns:StudnetsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addStudentFinancial">
      <soap:operation soapAction=""/>
      <wsdl:input name="addStudentFinancialRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addStudentFinancialResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentFinancial">
      <soap:operation soapAction=""/>
      <wsdl:input name="getStudentFinancialRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStudentFinancialResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudnetsPortService">
    <wsdl:port binding="tns:StudnetsPortSoap11" name="StudnetsPortSoap11">
      <soap:address location="http://34.201.172.255:8090/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>