wsdls/students.wsdl

<!-- SOAP's addStudentRequest WSDL file -->
<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://birzeit.edu/soa-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://birzeit.edu/soa-web-service" targetNamespace="http://birzeit.edu/soa-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://birzeit.edu/soa-web-service">


	<xs:element name="addStudentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="gender" type="xs:string"/>
				<xs:element name="dateOfBirth" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="addStudentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="student" type="tns:student"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getStudentsRequest">
		<xs:complexType>
			<xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getStudentsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="students" type="tns:student">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getStudentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getStudentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="student" type="tns:student"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="student">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="gender" type="xs:string"/>
			<xs:element name="dateOfBirth" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getStudentsRequest">
    <wsdl:part element="tns:getStudentsRequest" name="getStudentsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudentResponse">
    <wsdl:part element="tns:getStudentResponse" name="getStudentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudentsResponse">
    <wsdl:part element="tns:getStudentsResponse" name="getStudentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudentRequest">
    <wsdl:part element="tns:getStudentRequest" name="getStudentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addStudentRequest">
    <wsdl:part element="tns:addStudentRequest" name="addStudentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addStudentResponse">
    <wsdl:part element="tns:addStudentResponse" name="addStudentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StudnetsPort">
    <wsdl:operation name="getStudents">
      <wsdl:input message="tns:getStudentsRequest" name="getStudentsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getStudentsResponse" name="getStudentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudent">
      <wsdl:input message="tns:getStudentRequest" name="getStudentRequest">
    </wsdl:input>
      <wsdl:output message="tns:getStudentResponse" name="getStudentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <wsdl:input message="tns:addStudentRequest" name="addStudentRequest">
    </wsdl:input>
      <wsdl:output message="tns:addStudentResponse" name="addStudentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudnetsPortSoap11" type="tns:StudnetsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStudents">
      <soap:operation soapAction=""/>
      <wsdl:input name="getStudentsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStudentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudent">
      <soap:operation soapAction=""/>
      <wsdl:input name="getStudentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStudentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <soap:operation soapAction=""/>
      <wsdl:input name="addStudentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addStudentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudnetsPortService">
    <wsdl:port binding="tns:StudnetsPortSoap11" name="StudnetsPortSoap11">
      <soap:address location="http://34.201.172.255:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>